<div class="container">
  <div class="signin">
    <h3>Welcome to Tweeter</h3>
    <form method="post" action="/authorize_via_twitter">
      <button name="sign_in_button">Sign in with Twitter</button>
    </form>
  </div>
</div>
