<div class="container">
<form id="send_tweet" action="/tweet" method="post">
  <input type="text" name="tweet[text]" placeholder="Tweeeeeet!" />
  <button type="submit">Post Tweet</button>
</form>
</div>
